@import 'tailwindcss';

@theme inline {
  --color-grafite: var(--grafite);
  --color-ardosia: var(--ardosia);
  --color-gelo: var(--gelo);
  --color-gelo-profundo: var(--gelo-profundo);
  --color-areia: var(--areia);
  --color-papel: var(--papel);
}
